[general]

# ask for subject when compose
ask_subject = True

# confirm exit
bug_on_exit = False

# offset of next focussed buffer if the current one gets closed
bufferclose_focus_offset=-1

# number of colours your terminal supports
colourmode = 256

# number of spaces used to replace tab characters
tabwidth = 8

# templates directory that contains your message templates.
# It will be used if you give `compose --template` a filename without a path prefix.
# This defaults to `$XDG_CONFIG_HOME/alot/templates` if unset.
template_dir = 

# fill threadline with message content
display_content_in_threadline = False

# headers that get displayed by default
displayed_headers = From,To,Cc,Bcc,Subject

# headers that are hidden in envelope buffers by default
envelope_headers_blacklist = Content-Type,MIME-Version,In-Reply-To,References,Content-Transfer-Encoding

# set terminal command used for spawning shell commands
terminal_cmd = x-terminal-emulator -e

####################
# EDITOR settings  #
####################
# editor command
# if unset, alot will first the EDITOR env variable, then /usr/bin/editor
#editor_cmd = /usr/bin/vim -f -c 'set filetype=mail' +

# file encoding used by your editor
editor_writes_encoding = UTF-8

# use terminal_command to spawn a new terminal for the editor?
editor_spawn = False

# call editor in separate thread.
# in case your editor doesn't run in the same window as alot, setting true here
# will make alot non-blocking during edits
editor_in_thread = False


# Which header fields should be editable in your editor
# used are those that match the whitelist and don't macht the blacklist.
# in both cases '*' may be used to indicate all fields.
edit_headers_whitelist = *
edit_headers_blacklist = Content-Type,MIME-Version,References,In-Reply-To


# timeout in secs after a failed attempt to flush is repeated
flush_retry_timeout = 5

# where to look up hooks
hooksfile = ~/.config/alot/hooks.py

# time in secs to display status messages
notify_timeout = 2

# display statusline?
show_statusbar = True

# strftime format for timestamps. Note: you must escape % twice here:
# use '%%%%' instead of '%' (and use '%%%%%%%%' to get a literal '%').
# for the strftime format, see
# http://docs.python.org/library/datetime.html#strftime-strptime-behavior
timestamp_format = ''

# max length of authors line in thread widgets
authors_maxlength = 30

# how to print messages:
# this specifies a shellcommand used pro printing.
# threads/messages are piped to this as plaintext.
# muttprint/a2ps works nicely
print_cmd = ''

# initial command when none is given as argument:
initial_command = search tag:inbox AND NOT tag:killed

# in case more than one account has an addressbook:
# Set this to True to make tabcompletion for recipients during compose only
# look in the abook of the account matching the sender address
complete_matching_abook_only = False

[global-maps]
j = move down
k = move up
' ' = move page down
esc = cancel
enter = select

@ = refresh
? = help bindings
I = search tag:inbox AND NOT tag:killed
L = taglist
shift tab = bprevious
U = search tag:unread
tab = bnext
\ = prompt 'search '
d = bclose
$ = flush
m = compose
o = prompt 'search '
q = exit
';' = bufferlist
colon = prompt

[bufferlist-maps]
x = closefocussed
select = openfocussed

[search-maps]
a = toggletag inbox
& = toggletag killed
! = toggletag flagged
l = retagprompt
O = refineprompt
| = refineprompt

[envelope-maps]
a = prompt 'attach ~/'
y = send
s = 'refine Subject'
t = 'refine To'
b = 'refine Bcc'
c = 'refine Cc'
select = edit
H = toggleheaders

[taglist-maps]

[thread-maps]
C = fold --all
E = unfold --all
H = toggleheaders
P = print --all
S = save --all
g = reply --all
f = forward
p = print
s = save
r = reply
| = prompt 'pipeto '

[command-aliases]
quit = exit
bn = bnext
clo = close
bp = bprevious
ls = bufferlist

[16c-theme]
bufferlist_focus_bg = dark gray
bufferlist_focus_fg = white
bufferlist_results_even_bg = black
bufferlist_results_even_fg = light gray
bufferlist_results_odd_bg = black
bufferlist_results_odd_fg = light gray
footer_bg = dark blue
footer_fg = light green
header_bg = dark blue
header_fg = white
helptext_bg = dark gray
helptext_fg = default
helptexth1_bg = dark gray
helptexth1_fg = bold,underline
helptitle_bg = dark blue
helptitle_fg = white
message_attachment_bg = dark gray
message_attachment_fg = light gray
message_attachment_focussed_bg = light green
message_attachment_focussed_fg = light gray
message_body_bg = default
message_body_fg = light gray
message_header_bg = dark gray
message_header_fg = white
message_header_key_bg = dark gray
message_header_key_fg = white
message_header_value_bg = dark gray
message_header_value_fg = light gray
messagesummary_even_bg = light blue
messagesummary_even_fg = white
messagesummary_focus_bg = dark cyan
messagesummary_focus_fg = white
messagesummary_odd_bg = dark blue
messagesummary_odd_fg = white
notify_error_bg = dark red
notify_error_fg = white
notify_normal_bg = dark gray
notify_normal_fg = light gray
prompt_bg = black
prompt_fg = light gray
tag_bg = black
tag_fg = brown
tag_focus_bg = dark gray
tag_focus_fg = white
threadline_authors_bg = default
threadline_authors_fg = dark green
threadline_authors_focus_bg = dark gray
threadline_authors_focus_fg = dark green,bold
threadline_bg = default
threadline_content_bg = default
threadline_content_fg = dark gray
threadline_content_focus_bg = dark gray
threadline_content_focus_fg = black
threadline_date_bg = default
threadline_date_fg = light gray
threadline_date_focus_bg = dark gray
threadline_date_focus_fg = light gray
threadline_fg = default
threadline_focus_bg = dark gray
threadline_focus_fg = light gray
threadline_mailcount_bg = default
threadline_mailcount_fg = light gray
threadline_mailcount_focus_bg = dark gray
threadline_mailcount_focus_fg = light gray
threadline_subject_bg = default
threadline_subject_fg = light gray
threadline_subject_focus_bg = dark gray
threadline_subject_focus_fg = light gray
threadline_tags_bg = default
threadline_tags_fg = brown
threadline_tags_focus_bg = dark gray
threadline_tags_focus_fg = yellow,bold

[256c-theme]
bufferlist_focus_bg = #68a
bufferlist_focus_fg = #ffa
bufferlist_results_even_bg = g3
bufferlist_results_even_fg = default
bufferlist_results_odd_bg = default
bufferlist_results_odd_fg = default
footer_bg = #006
footer_fg = white
header_bg = dark blue
header_fg = white
helptext_bg = g35
helptext_fg = default
helptexth1_bg = g35
helptexth1_fg = bold,underline
helptitle_bg = g35
helptitle_fg = white,bold,underline
message_attachment_bg = dark gray
message_attachment_fg = light gray
message_attachment_focussed_bg = light green
message_attachment_focussed_fg = light gray
message_body_bg = default
message_body_fg = light gray
message_header_bg = dark gray
message_header_fg = white
message_header_key_bg = dark gray
message_header_key_fg = white
message_header_value_bg = dark gray
message_header_value_fg = light gray
messagesummary_even_bg = #068
messagesummary_even_fg = white
messagesummary_focus_bg = g58
messagesummary_focus_fg = #ff8
messagesummary_odd_bg = #006
messagesummary_odd_fg = white
notify_error_bg = dark red
notify_error_fg = white
notify_normal_bg = #68a
notify_normal_fg = light gray
prompt_bg = g10
prompt_fg = light gray
tag_bg = default
tag_fg = brown
tag_focus_bg = #68a
tag_focus_fg = #ffa
threadline_authors_bg = default
threadline_authors_fg = #6d6
threadline_authors_focus_bg = #68a
threadline_authors_focus_fg = #8f6
threadline_bg = default
threadline_content_bg = default
threadline_content_fg = #866
threadline_content_focus_bg = #68a
threadline_content_focus_fg = #866
threadline_date_bg = default
threadline_date_fg = g58
threadline_date_focus_bg = #68a
threadline_date_focus_fg = g89
threadline_fg = default
threadline_focus_bg = #68a
threadline_focus_fg = white
threadline_mailcount_bg = default
threadline_mailcount_fg = light gray
threadline_mailcount_focus_bg = #68a
threadline_mailcount_focus_fg = g89
threadline_subject_bg = default
threadline_subject_fg = g58
threadline_subject_focus_bg = #68a
threadline_subject_focus_fg = g89
threadline_tags_bg = default
threadline_tags_fg = #a86
threadline_tags_focus_bg = #68a
threadline_tags_focus_fg = #ff8

[1c-theme]
bufferlist_focus = standout
bufferlist_results_even = default
bufferlist_results_odd = default
footer = standout
header = standout
helptext = default
helptexth1 = underline
helptitle = standout
message_attachment = default
message_attachment_focussed = underline
message_body = default
message_header = default
message_header_key = default
message_header_value = default
messagesummary_even =
messagesummary_focus = standout
messagesummary_odd =
notify_error = standout
notify_normal = default
prompt =
tag = default
tag_focus = standout
threadline = default
threadline_authors = default,underline
threadline_authors_focus = standout
threadline_content = default
threadline_content_focus = standout
threadline_date = default
threadline_date_focus = standout
threadline_focus = standout
threadline_mailcount = default
threadline_mailcount_focus = standout
threadline_subject = default
threadline_subject_focus = standout
threadline_tags = bold
threadline_tags_focus = standout
