[general]

# ask for subject when compose
ask_subject = True

# max length of authors line in thread widgets
authors_maxlength = 30

# confirm exit
bug_on_exit = False

# number of colours your terminal supports
colourmode = 256

# fill threadline with message content
display_content_in_threadline = False

# headers that get displayed by default
displayed_headers = From,To,Cc,Bcc,Subject

# editor command
editor_cmd = /usr/bin/vim -f -c 'set filetype=mail' +
editor_writes_encoding' = UTF-8

# timeout in secs after a failed attempt to flush is repeated
flush_retry_timeout = 5

# where to look up hooks
hooksfile = ~/.alot.py

# time in secs to display status messages
notify_timeout = 2

# display statusline?
show_statusbar = True

spawn_editor = False
# set terminal for asynchronous editing
terminal_cmd = x-terminal-emulator -e

# strftime format for timestamps. Note: you must escape % here:
# use '%%' instead of '%'. otherwise see
# http://docs.python.org/library/datetime.html#strftime-strptime-behavior
timestamp_format = ''

# how to print messages:
# this specifies a shellcommand used pro printing.
# threads/messages are piped to this as plaintext.
# muttprint/a2ps works nicely
print_cmd =

#initial searchstring when none is given as argument:
initial_searchstring = tag:inbox AND NOT tag:killed

# in case more than one account has an addressbook:
# Set this to True to make tabcompletion for recipients during compose only
# look in the abook of the account matching the sender address
complete_matching_abook_only = False

[global-maps]
@ = refresh
I = search tag:inbox AND NOT tag:killed
L = taglist
shift tab = bprevious
U = search tag:unread
tab = bnext
\ = 'prompt search '
d = bclose
$ = flush
m = compose
o = 'prompt search '
q = exit
';' = bufferlist
colon = prompt

[bufferlist-maps]
x = closefocussed
enter = openfocussed

[search-maps]
a = toggletag inbox
& = toggletag killed
l = retagprompt
O = refineprompt
enter = openthread
| = refineprompt

[envelope-maps]
a = prompt attach ~/
y = send
s = 'prompt subject '
t = 'prompt to '
enter = reedit

[taglist-maps]
enter = select

[thread-maps]
C = fold --all
E = unfold --all
H = toggleheaders
P = print --thread
S = save --all
a = toggletag inbox
g = groupreply
f = forward
p = print
s = save
r = reply
enter = select
| = 'prompt pipeto '

[command-aliases]
quit = exit
bn = bnext
clo = close
bp = bprevious
ls = bufferlist

[16c-theme]
bufferlist_focus_fg = white
threadline_mailcount_focus_bg = dark cyan
bufferlist_focus_bg = dark gray
tag_bg = black
message_attachment_fg = light gray
threadline_authors_focus_fg = black,bold
threadline_bg = default
notify_error_fg = white
bufferlist_results_even_bg = black
threadline_subject_fg = light gray
message_header_value_bg = dark gray
messagesummary_even_fg = white
threadline_authors_focus_bg = dark cyan
footer_fg = light green
bufferlist_results_odd_fg = light gray
threadline_date_fg = light gray
bufferlist_results_even_fg = light gray
message_header_value_fg = light gray
threadline_subject_bg = default
messagesummary_odd_fg = white
message_header_key_fg = white
threadline_tags_focus_bg = dark cyan
tag_focus_fg = white
bufferlist_results_odd_bg = black
threadline_fg = default
prompt_fg = light gray
header_bg = dark blue
threadline_subject_focus_bg = dark cyan
message_body_fg = light gray
message_header_key_bg = dark gray
threadline_date_bg = default
tag_focus_bg = dark cyan
messagesummary_odd_bg = dark blue
threadline_subject_focus_fg = black
threadline_date_focus_fg = black
messagesummary_even_bg = light blue
message_header_fg = white
threadline_focus_fg = white
messagesummary_focus_bg = dark cyan
threadline_date_focus_bg = dark cyan
threadline_content_bg = default
threadline_tags_bg = default
threadline_mailcount_bg = default
messagesummary_focus_fg = white
message_body_bg = default
threadline_mailcount_focus_fg = black
prompt_bg = black
header_fg = white
threadline_content_fg = dark gray
threadline_focus_bg = dark cyan
threadline_mailcount_fg = light gray
threadline_content_focus_bg = dark cyan
tag_fg = brown
notify_normal_fg = default
message_attachment_focussed_bg = light green
threadline_tags_fg = brown
notify_error_bg = dark red
threadline_content_focus_fg = dark gray
footer_bg = dark blue
threadline_authors_bg = default
threadline_tags_focus_fg = yellow,bold
message_attachment_bg = dark gray
notify_normal_bg = default
message_attachment_focussed_fg = light gray
threadline_authors_fg = dark green
message_header_bg = dark gray

[256c-theme]
bufferlist_focus_fg = #ffa
threadline_mailcount_focus_bg = g58
bufferlist_focus_bg = g38
tag_bg = default
message_attachment_fg = light gray
threadline_authors_focus_fg = #8f6
threadline_bg = default
notify_error_fg = white
bufferlist_results_even_bg = g3
threadline_subject_fg = g58
message_header_value_bg = dark gray
messagesummary_even_fg = white
threadline_authors_focus_bg = g58
footer_fg = white
bufferlist_results_odd_fg = default
threadline_date_fg = g58
bufferlist_results_even_fg = default
message_header_value_fg = light gray
threadline_subject_bg = default
messagesummary_odd_fg = white
message_header_key_fg = white
threadline_tags_focus_bg = g58
tag_focus_fg = #ffa
bufferlist_results_odd_bg = default
threadline_fg = default
prompt_fg = light gray
header_bg = dark blue
threadline_subject_focus_bg = g58
message_body_fg = light gray
message_header_key_bg = dark gray
threadline_date_bg = default
tag_focus_bg = g58
messagesummary_odd_bg = #006
threadline_subject_focus_fg = g89
threadline_date_focus_fg = g89
messagesummary_even_bg = #068
message_header_fg = white
threadline_focus_fg = white
messagesummary_focus_bg = g58
threadline_date_focus_bg = g58
threadline_content_bg = default
threadline_tags_bg = default
threadline_mailcount_bg = default
messagesummary_focus_fg = #ff8
message_body_bg = default
threadline_mailcount_focus_fg = g89
prompt_bg = default
header_fg = white
threadline_content_fg = #866
threadline_focus_bg = g58
threadline_mailcount_fg = light gray
threadline_content_focus_bg = g58
tag_fg = brown
notify_normal_fg = default
message_attachment_focussed_bg = light green
threadline_tags_fg = #a86
notify_error_bg = dark red
threadline_content_focus_fg = #866
footer_bg = #006
threadline_authors_bg = default
threadline_tags_focus_fg = #ff8
message_attachment_bg = dark gray
notify_normal_bg = default
message_attachment_focussed_fg = light gray
threadline_authors_fg = #6d6
message_header_bg = dark gray

[1c-theme]
message_body = default
message_header = default
prompt =
message_attachment = default
notify_normal = default
messagesummary_odd =
threadline_content = default
threadline_subject_focus = standout
bufferlist_results_odd = default
messagesummary_focus = standout
message_attachment_focussed = underline
tag_focus = standout
header = standout
tag = default
threadline_content_focus = standout
message_header_value = default
threadline_mailcount_focus = standout
threadline_date_focus = standout
message_header_key = default
threadline_subject = default
threadline_authors = default,underline
bufferlist_results_even = default
threadline_authors_focus = standout
footer = standout
notify_error = standout
messagesummary_even =
threadline_tags_focus = standout
threadline = default
threadline_date = default
threadline_mailcount = default
threadline_focus = standout
threadline_tags = bold
bufferlist_focus = standout
